In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame()

In [5]:
df['x']=np.arange(241,300)

In [11]:
L=[ 5.29525328,5.3006115,5.30507946,5.30868483,5.31150103,5.31365299,5.31526232,5.31643963,5.31727839,5.31785345,5.31822491,5.31844044,5.31853294,5.31853247,5.31845856,5.31832743,5.31815052,5.31793833,5.31769657,5.3174305,5.31714392,5.3168416,5.31652403,5.31619453,5.3158536,5.3155036,5.31514502,5.3147788,5.31440449,5.3140254,5.31363964,5.31325,5.31285429,5.31245518,5.31205177,5.31164455,5.31123447,5.31082106,5.31040478,5.30998707,5.30956554,5.30914354,5.30871868,5.30829287,5.30786419,5.30743504,5.30700493,5.30657339,5.30614042,5.30570793,5.30527353,5.30484,5.30440426,5.30396891,5.30353308,5.30309629,5.30266047,5.30222416,5.30178785]

In [12]:
df['y']= np.array(L)

In [13]:
df.head()

     x         y
0  241  5.295253
1  242  5.300611
2  243  5.305079
3  244  5.308685
4  245  5.311501

In [15]:
df.plot(x'x',y='y')

NameError: name 'x' is not defined